# Express Server Port
PORT=5000

# Nodemailer credentials
# Note: For security, DO NOT commit the actual '.env' file containing these variables to GitHub!
# For Gmail, you MUST generate a 16-character App Password (Google Account -> Security -> 2-Step Verification -> App passwords).
EMAIL_USER=aniketgawande2509@gmail.com
EMAIL_PASS=xxxx_xxxx_xxxx_xxxx
